.thank-you {
    text-align: center;
    padding: 20px;
    color: #21dbec;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .thank-you h1 {
    color: #94b2c0;
  }
  
  .thank-you p {
    color: #666;
  }
  
  