.welcome {
    text-align: center;
    padding: 20px;
    background-color: #80dce2; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .welcome button {
    margin-top: 20px;
    background-color: #2894a7; 
  }
  
  .welcome button:hover {
    background-color: #88212f; 
  }
  
  